header{
    display: flex;
    justify-content: space-around;
align-items: center;
gap: 50px;
}
nav{
    display: flex;
    gap: 30px;
}
a{
    text-decoration: none;
    color: black;
}
.box div{
    width: 440px;
    height: 293px;

}
.box{
     display: flex;
     justify-content: space-around;
}
.box img{
    width: 609px;
    height: 466px;
}
h1{
    font-size: 45px;
    font-weight: 700px;
}
button{
    background-color: #458FF6;
    color: white;
    width: 198px;
    height: 50px;
    border: none;
    border-radius: 50px;
    font-size: 17px;
}
.box2{
    text-align: center;
}
.box2 p{
    font-size: 18px;
}
a:hover{
    color: red;
    
}
button:active{
    background-color: red;

}
.box2 .card{
    width: 330px;
    align-items: center;
    background-color: #E7E7E7;
    border-radius: 40px;
    padding: 20px;
    text-align: start;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.card:hover{
    background-color: #458FF6;
    color: white;
}